// Ionic Variables and Theming
// For more info, please see:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6366f1;
  --ion-color-primary-rgb: 99, 102, 241;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5758d4;
  --ion-color-primary-tint: #7375f3;

  /** secondary **/
  --ion-color-secondary: #9333ea;
  --ion-color-secondary-rgb: 147, 51, 234;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #812dce;
  --ion-color-secondary-tint: #9e47ec;

  /** tertiary **/
  --ion-color-tertiary: #ec4899;
  --ion-color-tertiary-rgb: 236, 72, 153;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d04087;
  --ion-color-tertiary-tint: #ee5aa3;

  /** success **/
  --ion-color-success: #22c55e;
  --ion-color-success-rgb: 34, 197, 94;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1ead53;
  --ion-color-success-tint: #38cb6e;

  /** warning **/
  --ion-color-warning: #f59e0b;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a824;

  /** danger **/
  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  /** medium **/
  --ion-color-medium: #6b7280;
  --ion-color-medium-rgb: 107, 114, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5e646e;
  --ion-color-medium-tint: #7a8089;

  /** light **/
  --ion-color-light: #f3f4f6;
  --ion-color-light-rgb: 243, 244, 246;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d6d7d9;
  --ion-color-light-tint: #f4f5f7;

  /** dark **/
  --ion-color-dark: #1f2937;
  --ion-color-dark-rgb: 31, 41, 55;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1b2429;
  --ion-color-dark-tint: #353e4b;
}
