<ion-header class="ion-no-border modern-header">
  <ion-toolbar class="modern-toolbar" style="--background: #0066CC; background: #0066CC;">
    <div class="navbar-container">
      <div class="navbar-left">
        <ion-button
          (click)="goBack()"
          fill="clear"
          size="small"
          class="menu-btn"
        >
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
        <div class="navbar-brand">
          <div class="brand-text">
            <h1 class="brand-title">Calculations</h1>
            <p class="brand-subtitle">Production Calculators</p>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" style="--background: #f5f5f5;">
  <div class="calculations-container">
    <div class="calculations-grid">
      <div
        *ngFor="let option of calculationOptions"
        class="calculation-card"
        (click)="goToCalculation(option.route)"
      >
        <div class="calculation-image-wrapper">
          <img 
            *ngIf="option.image" 
            [src]="option.image" 
            [alt]="option.title"
            class="calculation-image"
          />
          <div *ngIf="!option.image" class="calculation-icon">
            <ion-icon name="calculator"></ion-icon>
          </div>
        </div>
        <div class="calculation-title">
          <ng-container *ngIf="option.id === 'menduwada-idali'">
            Menduwada/Idali <span class="wholesale-highlight">Wholesale</span> Calculation
          </ng-container>
          <ng-container *ngIf="option.id === 'menduwada-idali-retail'">
            Menduwada/Idali <span class="retail-highlight">Retail</span> Calculation
          </ng-container>
          <ng-container *ngIf="option.id !== 'menduwada-idali' && option.id !== 'menduwada-idali-retail'">
            {{ option.title }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>

